In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from math import sqrt
import numpy as np
import pandas as pd

In [3]:
reduced = pd.read_csv("data/reduced.csv")
reduced.T

,0,1,2,3,4,5,6,7,8,9,...,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681
Unnamed: 0,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,...,2673.000000,2674.000000,2675.000000,2676.000000,2677.000000,2678.000000,2679.000000,2680.000000,2681.000000,2682.000000
scores,4.000000,6.164414,4.472136,2.645751,3.741657,6.708204,4.795832,5.291503,5.000000,4.472136,...,3.162278,5.567764,3.605551,3.162278,5.830952,4.690416,3.162278,2.449490,2.449490,4.898979
predscores,24.750000,24.750000,17.750000,24.750000,25.500000,32.000000,21.500000,24.000000,30.500000,16.500000,...,19.750000,16.000000,18.000000,18.000000,25.250000,22.000000,12.500000,13.250000,22.250000,16.750000
tmhalfsc,6.000000,10.000000,13.000000,0.000000,7.000000,28.000000,17.000000,14.000000,10.000000,10.000000,...,7.000000,17.000000,13.000000,10.000000,20.000000,10.000000,7.000000,3.000000,0.000000,14.000000
opphalfsc,13.000000,7.000000,10.000000,10.000000,6.000000,10.000000,7.000000,0.000000,14.000000,10.000000,...,7.000000,10.000000,7.000000,20.000000,6.000000,0.000000,16.000000,21.000000,0.000000,21.000000
patt,19.000000,25.000000,11.000000,15.000000,21.000000,22.000000,16.000000,24.000000,22.000000,17.000000,...,16.000000,28.000000,15.000000,15.000000,20.000000,20.000000,12.000000,11.000000,16.000000,12.000000
ypa,6.736842,7.000000,4.272727,5.466667,8.333333,9.545455,8.625000,6.458333,7.227273,6.529412,...,4.125000,5.071429,7.466667,10.333333,9.300000,7.650000,4.500000,8.818182,3.812500,10.916667
comppct,0.578947,0.640000,0.636364,0.666667,0.714286,0.727273,0.750000,0.666667,0.590909,0.470588,...,0.437500,0.607143,0.666667,0.666667,0.600000,0.650000,0.666667,0.454545,0.562500,0.416667
int,2.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ratt,8.000000,13.000000,15.000000,10.000000,15.000000,15.000000,19.000000,15.000000,17.000000,22.000000,...,15.000000,22.000000,19.000000,11.000000,14.000000,14.000000,6.000000,12.000000,13.000000,9.000000
ypr,1.500000,3.384615,3.466667,2.200000,2.733333,3.800000,4.368421,3.000000,4.294118,4.818182,...,3.933333,5.818182,3.578947,4.454545,6.500000,3.357143,-0.166667,2.083333,4.076923,3.777778
sacks,2.000000,1.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000,1.000000,4.000000
sackyds,-11.000000,-6.000000,-10.000000,0.000000,-7.000000,0.000000,-8.000000,0.000000,-10.000000,0.000000,...,-11.000000,0.000000,0.000000,-6.000000,0.000000,-10.000000,0.000000,-8.000000,-7.000000,-28.000000
fum,0.000000,1.000000,2.000000,1.000000,1.000000,0.000000,2.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
fuml,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [4]:
reduced = reduced.drop(columns = reduced.columns[0])
reduced.head()

,scores,predscores,tmhalfsc,opphalfsc,patt,ypa,comppct,int,ratt,ypr,sacks,sackyds,fum,fuml
0,4.000000,24.75,6,13,19,6.736842,0.578947,2,8,1.500000,2,-11,0,0
1,6.164414,24.75,10,7,25,7.000000,0.640000,0,13,3.384615,1,-6,1,0
2,4.472136,17.75,13,10,11,4.272727,0.636364,0,15,3.466667,2,-10,2,0
3,2.645751,24.75,0,10,15,5.466667,0.666667,0,10,2.200000,0,0,1,1
4,3.741657,25.50,7,6,21,8.333333,0.714286,1,15,2.733333,1,-7,1,1

In [6]:
base_X = reduced.drop(columns="scores")
base_y = reduced["scores"]

In [35]:
X_train, X_test, y_train, y_test = train_test_split(base_X, base_y, test_size=0.25)

In [36]:
base_lm = LinearRegression()
base_lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [37]:
base_lm_pred = base_lm.predict(X_test)

In [38]:
base_lm_RMSE = sqrt(sum((base_lm_pred - y_test)**2))

In [108]:
print(f"Baseline Linear Regression RMSE: {base_lm_RMSE:.3f}")

Baseline Linear Regression RMSE: 21.896

In [12]:
"""Hand Picked Variables from R:
predscores+tmhalfsc+patt+ypa+ratt+ypr+sackyds"""
manual = reduced[["scores", "predscores", "tmhalfsc", "patt", "ypa", "ratt", "ypr", "sackyds"]]

In [13]:
manual.T

,0,1,2,3,4,5,6,7,8,9,...,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681
scores,4.000000,6.164414,4.472136,2.645751,3.741657,6.708204,4.795832,5.291503,5.000000,4.472136,...,3.162278,5.567764,3.605551,3.162278,5.830952,4.690416,3.162278,2.449490,2.449490,4.898979
predscores,24.750000,24.750000,17.750000,24.750000,25.500000,32.000000,21.500000,24.000000,30.500000,16.500000,...,19.750000,16.000000,18.000000,18.000000,25.250000,22.000000,12.500000,13.250000,22.250000,16.750000
tmhalfsc,6.000000,10.000000,13.000000,0.000000,7.000000,28.000000,17.000000,14.000000,10.000000,10.000000,...,7.000000,17.000000,13.000000,10.000000,20.000000,10.000000,7.000000,3.000000,0.000000,14.000000
patt,19.000000,25.000000,11.000000,15.000000,21.000000,22.000000,16.000000,24.000000,22.000000,17.000000,...,16.000000,28.000000,15.000000,15.000000,20.000000,20.000000,12.000000,11.000000,16.000000,12.000000
ypa,6.736842,7.000000,4.272727,5.466667,8.333333,9.545455,8.625000,6.458333,7.227273,6.529412,...,4.125000,5.071429,7.466667,10.333333,9.300000,7.650000,4.500000,8.818182,3.812500,10.916667
ratt,8.000000,13.000000,15.000000,10.000000,15.000000,15.000000,19.000000,15.000000,17.000000,22.000000,...,15.000000,22.000000,19.000000,11.000000,14.000000,14.000000,6.000000,12.000000,13.000000,9.000000
ypr,1.500000,3.384615,3.466667,2.200000,2.733333,3.800000,4.368421,3.000000,4.294118,4.818182,...,3.933333,5.818182,3.578947,4.454545,6.500000,3.357143,-0.166667,2.083333,4.076923,3.777778
sackyds,-11.000000,-6.000000,-10.000000,0.000000,-7.000000,0.000000,-8.000000,0.000000,-10.000000,0.000000,...,-11.000000,0.000000,0.000000,-6.000000,0.000000,-10.000000,0.000000,-8.000000,-7.000000,-28.000000

In [14]:
man_X = manual.drop(columns="scores")
man_y = manual["scores"]

In [86]:
man_X_train, man_X_test, man_y_train, man_y_test = train_test_split(man_X, man_y, test_size=0.25)

In [101]:
man_lm = LinearRegression()
man_lm.fit(man_X_train, man_y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [102]:
man_lm_pred = man_lm.predict(man_X_test)

In [103]:
man_lm_RMSE = sqrt(sum((man_lm_pred - man_y_test)**2))

In [109]:
print(f"Manual Linear Regression RMSE: {man_lm_RMSE:.3f}")

Manual Linear Regression RMSE: 21.006

In [106]:
coef_values = man_lm.coef_
man_cols = list(man_X.columns)
coefs = list(zip(man_cols, coef_values))

In [107]:
coefs

[('predscores', 0.049891527189770135),
 ('tmhalfsc', 0.1045842207514485),
 ('patt', 0.012527398689608157),
 ('ypa', 0.021197775398686558),
 ('ratt', -0.004933017507360839),
 ('ypr', 0.02307522977101671),
 ('sackyds', 0.007338725252389124)]